$contentBackground: #fff;
$Font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$MainWidth: 960px;
$HeaderBG: url(/FLX_homework_3/homework/img/header_background_v1.jpg);
$HeaderBGSize: cover;
$HeaderMainTextColor: #fff;
$LogoSize: 15vw;
$SearchBGColor: #fff;
$SearchBorderColor: #607d8b; 
$H1Color: #000;
$NavLinkColor: #fff;
$NavLinkBorderColor: #607d8b;
$HeaderBtnBgColor: #01acac;
$HeaderBtnTextColor: #fff;
$PostBG: #efefef;
$PostDescrColor: #e9034f;
$PostHeaderColor: #0097a7;
$PostTextColor: #000;
$PostBtnBGColor: #01acac;
$LabelColor: #0097bb;
$LabelBorderColor: #607d8b;
$SumbitBtnColor: #01acac;
$InputBGColor: #fff;
$InputBorderColor: #607d8b;