$contentBackground: #efefef;
$Font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$MainWidth: 960px;
$HeaderBG: url(../img/header_background_v2.jpg);
$HeaderBGSize: cover;
$LogoSize: 15vw;
$SearchBGColor: #efefef;
$SearchBorderColor: #cfd8dc;
$HeaderMainTextColor: #ff5722;
$H1Color: #757575;
$NavLinkColor: #f04f8b;
$NavLinkBorderColor: #cfd8dc;
$HeaderBtnBgColor: #0401ac;
$HeaderBtnTextColor: #fff;
$PostBG: #ffffff;
$PostDescrColor: #c3c3d4;
$PostHeaderColor: #607d8b;
$PostTextColor: #757575;
$PostBtnBGColor: #0401ac;
$LabelColor: #0097bb;
$LabelBorderColor: #607d8b;
$SumbitBtnColor: #0401ac;
$InputBGColor: #efefef;
$InputBorderColor: #cfd8dc;
